.show
  .show-box
    .show-box__image
      =image_tag @message.image.url, class: 'show-box__image__picture'

    .show-box__title
      %label 【タイトル】
      .show-box__title__data
        = @message.title

    .show-box__category
      %label 【カテゴリー】
      .show-box__category__data
        = @message.category.name

    .show-box__memo
      .show-box__memo__data
        = @message.content

    .show__good
      .show__good__box
        %p いいね！
        = render partial: 'likes/like', locals: { message: @message,count: @count}

    .container
      = form_with model: [@message, @comment], html: {class: "Form"}, local: true do |f|
        .Form__contents
          = f.text_field :text, placeholder: "コメントする", rows: "2", class:'text-box'
          = f.submit "SEND", class:'send-box'

    .comment
      - @comments.each do |comment|
        .comment-box
          .comment-name
            = comment.user.name
          .comment-text
            = comment.text
             
    - if user_signed_in? && current_user.id == @message.user.id
      .show-box__content
        = link_to '投稿を編集する', edit_message_path(@message.id), class:"show-box__content__edit"
        = link_to '投稿を削除する', message_path(@message), method: :delete, class:"show-box__content__delete"


    = link_to 'トップページに戻る', root_path, class: 'return__button'

= render "button"

