.show
  .show-title
    %label 【投稿詳細ページ】

  .show-box
    .show-box__image
      -# %label 【投稿画像】
      .show-box__image__file
      =image_tag @message.image.url, class: 'show-box__image__picture'

    .show-box__title
      %label 【タイトル】
      .show-box__title__data
        = @message.title

    .show-box__category
      %label 【カテゴリー】
      .show-box__category__data
        = @message.category.name

    .show-box__memo
      -# %label 【記事の本文】
      .show-box__memo__data
        = @message.content

    .show__good
      .show__good__box
        %p いいね！
        = render partial: 'likes/like', locals: { message: @message,count: @count}
       

    .show-box__content
      - if user_signed_in? && current_user.id == @message.user.id
        = link_to '投稿を編集する', edit_message_path(@message.id), class:"show-box__content__edit"
        = link_to '投稿を削除する', message_path(@message), method: :delete, class:"show-box__content__delete"
      - else


    .container
      = form_with model: [@message, @comment], html: {class: "Form"}, local: true do |f|
        .Form__contents
          = f.text_field :text, placeholder: "コメントする", rows: "2"
          = f.submit "SEND"

    .comments
      .comments-box
        - @comments.each do |comment|
          = comment.user.nickname
          = comment.text 
          -# = link_to comment.user.nickname,id: :"/users/#{comment.user_id}" do
          -#   = comment.text 

    = link_to 'トップページに戻る', root_path, class: 'return__button'

= render "button"

-# .message
-#   - @messages.each do |message|
    -# = link_to message_path(message), class: 'message__box' do
-#       .message__box__title 
-#         =message.title
-#         %p.message__box__icon
-#           = message.user.name
  -# = link_to message_add_path(message), method: :delete, remote: true, class: "like",id: :"like-button-#{message.id}" do