- if message.liked_by?(current_user)
  = link_to message_add_path(message), method: :delete, remote: true, id: :"like-button-#{message.id}" do
    = icon('fas', 'fa-lg fas fa-heart icon-btn liked')
- else 
  = link_to message_add_path(message), method: :post, remote: true, id: :"like-button-#{message.id}" do
    = icon('fas', 'fa-lg fas fa-star icon-btn not-like')